{% extends 'base.html' %}
{% block title %}Manage — TodoListApp{% endblock %}

{% block content %}
    
    <h1>My Tasks</h1>
    <a href="{% url 'task-create' %}">+ Add Task</a>
    <ul>
        {% for task in tasks %}
            <li>
                {{ task.title }} - {% if task.complete %}✅{% else %}❌{% endif %}
                [<a href="{% url 'task-update' task.id %}">Edit</a>]
                [<a href="{% url 'task-delete' task.id %}">Delete</a>]
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'logout' %}">Logout</a>
{% endblock %}